<footer class="footer">
    <div class="footer-container">
        <!-- Logo and Slogan -->
       <div class="footer-section">
<ul>
    <img class="logo-img" src="assets/public/Frame.png" width="100px" height="100px" alt="">
</ul>
       </div>
          
       

        <!-- Site Navigation -->
        <div class="footer-section">
           
            <ul>
                <li>Site Navigation</li>
                <li>Home</li>
                <li>Advertise</li>
                <li>About</li>
            </ul>
        </div>

        <!-- Agreements -->
        <div class="footer-section">
            
            <ul>
                <li>Agreements</li>
                <li>Privacy</li>
                <li>Terms of Use</li>
                <li>Terms of Abuse</li>
            </ul>
        </div>

        <!-- Sign-Up -->
        <div class="footer-section">
            
            <ul>
                <li>Sign-Up</li>
                <li>Neighbor</li>
                <li>Businesses</li>
                <li>Agencies</li>
                <li>Franchisors</li>
            </ul>
        </div>

        <!-- Stay Connected -->
        <div class="footer-section">
            <h3>Stay Connected</h3>
            <ul >
                <li class="facebook"><img src="assets/public/Group.png" alt="Facebook"> YellowZIP</li>
            </ul>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-bottom">
        <p>Copyright © 2023. YellowZIP All rights reserved.</p>
    </div>
</footer>
