<header>
    <img class="left-image" src="assets/public/Logo - YellowZip Medium.png" width="100px" height="100px" alt="">

    <div class="left">
        <img  src="assets/public/Logo - YellowZip Medium.png" width="100px" height="100px" alt="">

        <div class="search-bar">
            
            <h4 id="searchtext">Car Detailer Biz | </h4>
            <img src="assets/public/Vector-7.png" alt="">
            <input type="text" class="" placeholder=" Houston, TX 77077">
            <button><img src="assets/public/Vector-6.png" alt=""></button>
        </div>
        
        <div class="head-btn">
            <button>About Us</button>
            <button>Advertise</button>
        </div>
    </div>
    
    <button class="toggle-button">☰</button> <!-- Toggle button for mobile view -->

    <nav>
        <button class="close-drawer">&times;</button> <!-- New X button to close the drawer -->

        <ul>
            <li><img src="assets/public/Vector-4.png" alt=""> Nightborly News</li>
            <li><img src="assets/public/Vector-5.png" alt="">Directory</li>
            <li><i class="fa-light fa-magnifying-glass-dollar"></i>Ask a Pro</li>
            <li><img src="assets/public/Vector-3.png" alt="">Jobs</li>
            <li><img src="assets/public/Vector-2.png" alt="">Biz for Sale</li>
            <li><img src="assets/public/Vector-1.png" alt="">Fund Me</li>
            <li><img src="assets/public/Vector.png" alt="">Deals</li>
        </ul>
    </nav>
</header>
